* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	/*font-family: 'Open Sans', sans-serif;*/
	color: #343333;
}

.card {
	border-radius: 0 !important;
}

.btn-success {
	border-radius: 0 !important;
	border: 2px solid #d9b357 !important; 
	background-color: white !important;
	color: #d9b357 !important;
}

.btn-success:hover {
	background-color: #d9b357 !important;
	color: white !important;
}

.btn-primary {
	border-radius: 0 !important;
	border: 2px solid #d9b357 !important; 
	background-color: white !important;
	color: #d9b357 !important;
}

.btn-primary:hover {
	background-color: #d9b357 !important;
	color: white !important;
}

.btn-danger {
	border-radius: 0 !important;
	border: 2px solid #191919 !important; 
	background-color: white !important;
	color: #191919 !important;
}

.btn-danger:hover {
	background-color: #191919 !important;
	border: 2px solid #191919 !important;
	color: white !important;
}

.btn-warning {
	border-radius: 0 !important;
	border: 2px solid #191919 !important; 
	background-color: white !important;
	color: #191919 !important;
}

.btn-warning:hover {
	background-color: #191919 !important;
	border: 2px solid #191919 !important;
	color: white !important;
}

.frgtPass {
	border-radius: 0 !important;
	border: 2px solid #191919 !important; 
	background-color: white !important;
	color: #191919 !important;
}

.frgtPass:hover {
	background-color: #191919 !important;
	border: 2px solid #191919 !important;
	color: white !important;
}

.assetCard {
	border-radius: 0 !important;
	border: 2px solid #d9b357 !important; 
}

#imgFile {
	height: 200px;
	text-align: center;
}

#oneLogo {
	height: 50px;
}

.navbar {
	background-color: #d9b357;
}

.jumbotron {
	border-radius: 0 !important;
	background-color: white !important;
}

.jumbotron-home {
	border-radius: 0 !important;
	border: 2px solid #d9b357 !important;
	background-color: white !important;
}

.header {
	font-family: 'Lato', sans-serif;
}

.assetFooter {
	background-color: white !important;
}

